:root{
  /*------- colors --------*/
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));

  /* -------fonts ----------*/
  --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;

}

/* ------globals--------- */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: var(--bs-yellow);
}
a{
  text-decoration: none;
}
.nav-links li{
  list-style-type: none;

}
.icon{
 position: absolute;
 top:0;
 left: 15px;
 width: 60px;
 height: 60px;
 background-color: transparent;
}
/* -----utility classes------ */
.card{
  padding: 30px;
  position: relative;
  background: #000000;
  color: var(--bs-white);
  border: 1px solid var(--bs-dark);
}
.section-title {
  text-align: center;
  position: relative;
  z-index: 1;
  padding-bottom: 105px;
  margin-bottom: 30px;
  margin-top: -9px;
}
.section-title h2{
  
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 38px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
}
.back-text{
    position: absolute;
    top: -80px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    color: #000000;
    opacity: .04;
    text-transform: uppercase;
    font-size: 146px;
    font-weight: 900;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

/* ------header section-------- */
.header{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  background-color: transparent;
  transition: 0.5s;
  z-index: 9999;
  
}
.header.sticky{
  background-color: var(--bs-light);
  padding: 15px 100px;
}
.header .logo{
  font-size: 30px;
  font-weight: 700;
  color: #000000;
}
.header .nav-links.show{
  right: 0;
}
.header .nav-links li{
  margin: 20px;
}
.header .nav-links a{
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 20px;
  color: var(--bs-dark);
  transition: 0.3s;
  transition-property: text-decoration;
}
.header .nav-links a:hover{
  text-decoration: underline; 
  
}
.header .nav-btn {
  display: none;
}
.nav-close{
  position: absolute;
  top: 0;
  left: 0;
  margin: 30px;
}
/* ------end of header------- */

/* hero section */
.hero{
  background-color:var(--bs-yellow);
  height: 100vh;
  padding: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}
.hero-text{
  display: flex;
  flex-direction: column;
  width: 50%;
  font-size: 30px;
  text-align: center;
}
.hero-img-container{
  /* width: 50%; */
  position: relative;
}
.hero-img{
  position: relative;
  z-index: 1;
  text-align: center;
}
.hero-img::before{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0%;
  border: 7px solid #eeeeee;
  border-radius: 50%;
  width: 200px;
  height: 60%;
  z-index: -1;
}

.hero-img img{
  border-radius: 40%;
  margin: auto;
  max-width: 100%;
}


/* hero section end */

/* services section  */
.services{
  min-height: 100vh;
  width: 100vw;
  margin-bottom: 70px;
  
}
.services .container{
  padding: 70px 0px;
  max-width: 80%;
  display: grid;
  margin: auto;
  grid-template-columns:repeat(auto-fit,minmax(320px, 1fr));
  position: relative;
  gap: 20px;

}
.section-title{
  grid-column: 1/-1;
}
.card h3{
  
  text-align: center;
  margin-bottom: 40px;
  word-break: break-word;
}
.icon img{
  background-color: var(--bs-yellow);
  transition: 300ms;
}
.card:hover .icon img{
  background-color: var(--bs-white);
}
/* portfolio section */
.shorting-menu {
  text-align: center;
  margin-bottom: 20px;
}
.shorting-menu .filter {
  border: 1px solid #000000;
  background: transparent;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 15px;
  margin: 0 2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: 0;
}
.single-portfolio-box {
  position: relative;
  margin-top: 30px;
  overflow: hidden;
}
.single-portfolio-box .popup-btn {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: 2;
}

@media screen and (max-width: 990px) {
  .nav-links{
  position:fixed;
  background: var(--bs-dark);
  flex-direction: column;
  min-width: 60vw;
  height: 100vh;
  top: 0;
  right: -100%;
  padding: 80px 50px;
  transition: 0.4s;
  }
  .header .nav-links li{
    margin-bottom: 20px;
  }
  .header .nav-close{
    color: #ffffff;
    font-size: 25px;
    cursor: pointer;
    display: block;
  }
  .header .nav-open {
    color: #000000;
    font-size: 25px;
    cursor: pointer;
    display: block;
  }
  .header .nav-links li a{
    color: #fff;
  }
}
